.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App__advices {
  text-align: center;
}

.App__instruction {
  margin-top: 45px;
  font-style: italic;
}
